<footer class="bg-gray-800 text-sm py-10">
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-1 md:grid-cols-4 gap-14">
			<div>
				<h3 class="text-white font-bold">Enrol with Us</h3>

				<ul class="mt-4">
					<li><a class="text-gray-400 mb-1 block" href="">How to apply</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">National Admissions</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">International Admissions</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Admission Offices</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Student Welfare</a></li>
				</ul>
			</div>

			<div>
				<h3 class="text-white font-bold">Learn with Us</h3>

				<ul class="mt-4">
					<li><a class="text-gray-400 mb-1 block" href="">Programs</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Faculties</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Teaching Practices</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Research & Innovation</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Student Welfare</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Entrepreneurship</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Libraries</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">PU Advantages</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Systems Support</a></li>
				</ul>
			</div>

			<div>
				<h3 class="text-white font-bold">Grow with Us</h3>

				<ul class="mt-4">
					<li><a class="text-gray-400 mb-1 block" href="">Placements</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Career Development</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Armed Forces Motivational Cell</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">International Relations Cell</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Social Responsiveness</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Culture at PU</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Awards and Ranking</a></li>
				</ul>
			</div>

			<div>
				<h3 class="text-white font-bold">Connect with Us</h3>

				<ul class="mt-4">
					<li><a class="text-gray-400 mb-1 block" href="">Contact Us</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Admission Helpline</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Visit Us</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Student MIS</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">PU Mirror</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Exam Corner</a></li>
					<li><a class="text-gray-400 mb-1 block" href="">Tenders</a></li>
				</ul>
			</div>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-4 mt-6 gap-14">
			<div>
				<h3 class="text-white font-bold">PU Mirror</h3>

				<p class="text-gray-400 mt-4">Giving you a reflection of the vibrancy in and around the PUCampus. Subscribe and stay up to date</p>
			</div>

			<div>
				<h3 class="text-white font-bold">Who We Are?</h3>

				<p class="text-gray-400 mt-4">
					Parul University- Gujarat’s leading private university having the foundation of its first Institution laid in 1993, and later on established and incorporated under Gujarat Private Universities (Second Amendment ) Act of 2015. A vibrant campus, housing over 28 000 students from all the states of India and 50 Nationalities. An amalgamation of 21 Faculties and 35 Institutes, offering a plethora of 250 diploma, undergraduate and postgraduate programs uniquely customized to suit the career prospects of every prospective student.
				</p>
			</div>

			<div>
				<h3 class="text-white font-bold">Get in Touch With Us</h3>

				<ul class="text-gray-400 mt-4">
					<li class="mb-2">
						1800-123-1104
					</li>

					<li class="mb-2">
						+91-2668-260201
					</li>

					<li class="mb-2">
						admissions@paruluniversity.ac.in
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

